.app
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imag
{
    position: relative;
    width: 150rem;
    height: 550px;
    top: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.imag img
{
    position: relative;
    height: 32rem;
}

.buttonPrev
{
    border: 2px solid cyan;
    /* color: blue; */
    padding: 0.3rem;
    /* font-size: larger; */
    font-weight: 500;
    cursor: pointer;
    border-radius: 2rem;
    position: absolute;
    left: 1rem;
    /* width: 4rem; */
    background-color: cyan;
}

.buttonNext
{
    border-radius: 2rem;
    position: absolute;
    border: 2px solid cyan;
    padding: 0.3rem;
    font-size: larger;
    font-weight: 500;
    /* width: 4rem; */
    background-color: cyan;
    right: 2rem;
}

.buttonPrev:hover, .buttonNext:hover
{
    background-color: rgb(144, 255, 255);
    color: rgb(144, 255, 255);
}