.shop
{
  /* position: absolute; */
  /* display: flex; */
  /* flex-direction: column; */
  /* background: #000; */
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  overflow: hidden;
}

.shopTitle {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
  }
  .products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  .product {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .product img {
    width: 400px;
  }
  
  .product .description {
    text-align: center;
  }
  
  .product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
  }
  
  .addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
  }

  .buttons
  {
    position: relative;
    /* top: 13rem; */
    left: 2rem;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: start; */
    /* align-items: center; */
  }

  .filter
  {
    font-size: larger;
    font-weight: 500;
    position: relative;
    top: 1rem;
    /* padding: 1rem; */
  }

  .buttons button
  {
    border: 2px solid;
    /* margin-top: rem; */
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 3rem;
    text-align: center;
    position: relative;
    top: 1rem;
    width: 7rem;
    cursor: pointer;
  }